.studentCss1{
    height: 45px;
    flex-grow: 0 !important;
    background-image: url("../image/headBackground.png");
    background-size: 100% 100%;
    color: white;
}
.studentCss2{
    text-align: center;
    line-height: 45px;
    color: white;
    margin-left: 0px !important;
}
.studentCss3{
    flex-basis: 20px !important;
    flex-grow: 0 !important;
    margin-left: 0px !important;
}
.studentCss4{
    background-color: #E1E4F2;
    height: 45px;
    flex-grow: 0 !important;
    margin-left: 0px !important;
}
.studentCss5{
    background-color: #F2F2F2;
    height: 80px;
    flex-grow: 0 !important;
    margin-left: 0px !important;
}
.studentCss6{
    flex-grow: 0 !important;
    margin-left: 0px !important;
}
.studentCss7{
    flex-grow: 1 !important;
    margin-left: 0px !important;
}
.studentCss8{
    flex-grow: 0 !important;
    flex-basis: 80px !important;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #2F5597;
}
.studentCss9{
    flex-grow: 0 !important;
    flex-basis: 120px !important;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #2F5597;
}
.studentCss10{
    flex-grow: 0 !important;
    flex-basis: 70px !important;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #2F5597;
}
